# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
dist/
build/
.eggs/

# Virtual environments
.venv/
venv/
env/

# Editor / OS
.vscode/
.idea/
*.swp
.DS_Store
Thumbs.db

# Proxmox backups created by prox-loader
*.backup.*
